# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
.kotlin/

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
**/Pods/
/vendor/bundle/

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# testing
/coverage

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# AI/ML Models (too large for git)
*.onnx
*.onnx_data
*.gguf
*.safetensors
*.safetensors.index.json
models/
onnx_models/
assets/models/
ios/PolarH10Monitor/models/
ios/distilgpt2_sports_science*.gguf
ios/model*.onnx*
ios/model_metadata*.json

# Model tokenizer and config files (can be large)
ios/vocab.json
ios/merges.txt
ios/tokenizer.json
ios/added_tokens.json
ios/special_tokens_map.json
ios/tokenizer_config.json
ios/config.json
ios/generation_config.json
ios/chat_template.jinja

# Additional DS_Store files
../.DS_Store
**/.DS_Store
